@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
    margin-bottom: 8px;
  }

  h2 {
    @apply text-xl;
    margin-bottom: 8px;
  }

  h3 {
    @apply text-lg;
    margin-bottom: 8px;
  }

  a {
    @apply underline;
  }

  ul {
    list-style: disc;
    @apply pl-4;
  }
}
