table {
  border-spacing: 0;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #10b981;
  color: white;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

p {
  margin-bottom: 8px;
}
