{% extends 'common/base.html' %}
{% load i18n %}
{% block title %}
  {% if new_user %}
    {% trans "Новый пользователь" %}
  {% else %}
    {% trans "Карточка пользователя" %}
  {% endif %}
{% endblock %}

{% block contentClass %}settings mb-5{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>
          {% if new_user %}
            {% trans "Новый пользователь" %}
          {% else %}
            {% trans "Карточка пользователя" %}
          {% endif %}
          {% if not new_user %}
          <span class="oi oi-trash {% if not profile.mark2delete %}d-none{% endif %} delete-mark" style="font-size: 60%" data-toggle="tooltip" title="{% trans 'Отмечено на удаление' %}" aria-hidden="true"></span>
          {% endif %}
        </h1>
      </div>
    </div>
    <form class="input-group-15 change-guard needs-validation"
      validate method="post" action="{% if new_user %}{% url 'core:new_user' %}{% else %}{% url 'core:edit_user' profile.id %}{% endif %}"
      novalidate enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" disabled id="user_id" value="{% if not new_user %}{{profile.id}}{% endif %}">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text ">{% trans 'ФИО' %}</span>
        </div>
        <input class="form-control" name="surname" placeholder="{% trans 'Фамилия' %}" {% if not is_staff %}disabled{% endif %}
          value="{% if not new_user %}{{profile.last_name}}{% endif %}" type="text">
        <input class="form-control" name="name" placeholder="{% trans 'Имя' %}" {% if not is_staff %}disabled{% endif %}
          value="{% if not new_user %}{{profile.first_name}}{% endif %}" type="text">
        <input class="form-control" name="middlename" placeholder="{% trans 'Отчество' %}" {% if not is_staff %}disabled{% endif %}
          value="{% if not new_user %}{{profile.middle}}{% endif %}" type="text">
      </div>

      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text ">{% trans 'Логин' %}</span>
        </div>
        <input class="form-control" name="username" {% if not is_staff or is_self %}disabled{% endif %}
          value="{% if not new_user %}{{profile.username}}{% endif %}" type="text">
      </div>
      {% if is_staff %}
      <div class="input-group mb-2">
        <div class="input-group-prepend"><span class="input-group-text w-100">{% trans 'E-Mail' %}</span></div>
        <input class="form-control" name="email" placeholder="{% trans 'E-Mail' %}" {% if not is_staff or is_self %}disabled{% endif %}
          value="{% if not new_user %}{{profile.email}}{% endif %}" type="text">
      </div>
      {% endif %}
      <div class="input-group mb-2">
        <div class="input-group-prepend"><span class="input-group-text w-100">{% trans 'Телефон' %}</span></div>
        <input class="form-control" name="phone" maxlength="20" pattern="[0-9+\- ()]*" placeholder="{% trans 'Телефон' %}" {% if not is_staff %}disabled{% endif %}
          value="{% if not new_user %}{{profile.phone}}{% endif %}" type="tel">
      </div>
      {% if new_user %}
      <div class="input-group mb-2">
        <div class="input-group-prepend"><span class="input-group-text w-100">{% trans 'Пароль' %}</span></div>
        <input class="form-control" name="password1" placeholder="{% trans 'Пароль' %}"
          value="" type="password">
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend"><span class="input-group-text w-100">{% trans 'Подтверждение' %}</span></div>
        <input class="form-control" name="password2" placeholder="{% trans 'Подтверждение' %}"
          value="" type="password">
      </div>
      {% elif is_staff or is_self %}
      <div class="input-group mb-2 d-print-none">
        <div class="input-group-prepend">
          <span class="input-group-text ">{% trans 'Пароль' %}</span>
        </div>
        <button class="form-control btn btn-primary" id="changePassword" type="button">
          {% trans 'Сменить пароль' %}
        </button>
        {% comment %} {% if is_staff %}
        <div class="input-group-append">
          <button class="btn btn-primary btn-sm" type="button">
            {% trans 'Сброс пароля' %}
          </button>
        </div>
        {% endif %} {% endcomment %}
      </div>
      {% endif %}
      {% if is_staff or is_self %}
      <div class="input-group mb-2 d-print-none">
        <div class="input-group-prepend"><span class="input-group-text w-100">{% trans 'Фото' %}</span></div>
        <div class="custom-file">
          <input class="custom-file-input" id="userImg" name="img" placeholder="{% trans 'Фото' %}"
            value="" type="file" accept="image/*" validate-size="5242880" validate-file="{% trans 'Размер фото не должен превышать 5МБ!' %}">
          <label class="custom-file-label" for="userImg">{% trans 'Выберите файл...' %}</label>
        </div>
      </div>
      {% endif %}

      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text ">{% trans 'Организация' %}</span>
        </div>
        <input class="form-control" name="org" disabled
          value="{{ org }}" type="text">
      </div>

      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text ">{% trans 'Язык интерфейса' %}</span>
        </div>
        <select class="custom-select"
            id="userLang" {% if not is_staff and not is_self %}disabled{% endif %}
            name="lang" value="{% if not new_user %}{{ profile.lang }}{% endif %}">
          <option {% if profile.lang == "Ru" or new_user %}selected{% endif %} value="Ru">{% trans 'Русский' %}</option>
          <option {% if profile.lang == "En" %}selected{% endif %} value="En">{% trans 'Английский' %}</option>
        </select>
      </div>

      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text ">{% trans 'Статус' %}</span>
        </div>
        <select class="custom-select"
            id="usetStatus" {% if not is_staff or is_self %}disabled{% endif %}
            name="status" value="{% if not new_user %}{{ profile.is_active }}{% endif %}">
          <option {% if profile.is_active or new_user %}selected{% endif %} value="Active">{% trans 'Активный' %}</option>
          <option {% if not profile.is_active and not new_user %}selected{% endif %} value="Archive">{% trans 'Архивный' %}</option>
        </select>
      </div>

      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text ">{% trans 'Роль' %}</span>
        </div>
        <select class="custom-select"
            id="userRole" {% if not is_staff or is_self %}disabled{% endif %}
            name="role" value="{% if not new_user %}{{ profile.is_staff }}{% endif %}">
          <option {% if profile.is_staff and not new_user %}selected{% endif %} value="admin">{% trans 'Администратор' %}</option>
          <option {% if not profile.is_staff or new_user %}selected{% endif %} value="user">{% trans 'Врач' %}</option>
        </select>
      </div>

      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text ">{% trans 'Комментарий' %}</span>
        </div>
        <textarea class="form-control" name="note" {% if not is_staff %}disabled{% endif %}>{% if not new_user %}{{ profile.note }}{% endif %}</textarea>
      </div>

      <div class="form-row justify-content-between d-print-none">
        <div>
          <a href="{% url 'core:index' %}" class="btn btn-primary nav-bottom__link">
            {% trans 'На главную' %}
          </a>
        </div>
        <div>
          {% if not new_user and is_staff and not is_self %}
          {% comment %} <button class="btn btn-primary mr-3"
              id="userCancel"
              type="button" >
            {% trans 'Отменить' %}
          </button> {% endcomment %}
          <button class="btn btn-primary mr-3"
              data-action="mark" data-api="delete" data-model="profile" data-id="#user_id" type="button">
            {% trans 'Пометить на удаление' %}
          </button>
          <button class="btn btn-primary mr-3"
              data-action="unmark" data-api="delete" data-model="profile" data-id="#user_id" type="button">
            {% trans 'Восстановить' %}
          </button>
          <button class="btn btn-primary mr-3"
              data-action="delete" data-api="delete" data-model="profile" data-confirm="true" data-id="#user_id" type="button">
            {% trans 'Удалить' %}
          </button>
          {% endif %}
          {% if is_self or is_staff %}
          <button class="btn btn-primary change-display"
              id="userSave"
              type="submit" >
            {% trans 'Сохранить' %}
          </button>
          {% endif %}
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block modals %}
  {% if not new_user %}
  <div class="modal fade" id="modalPassword" tabindex="-1" role="dialog" aria-labelledby="modalPasswordLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="h5 modal-title" id="modalExitLabel">
            {% trans 'Смена пароля' %}
          </p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form ajax method="post" action="{% url 'core:change_user_password' %}">
          {% csrf_token %}
          {% if is_staff %}
          <input type="hidden" name="user" value="{{profile.id}}">
          {% endif %}
          <div class="modal-body">
            {% if is_self %}
            <div class="input-group mb-2">
              <div class="input-group-prepend " style="width: 30%"><span class="input-group-text w-100">{% trans 'Старый пароль' %}</span></div>
              <input class="form-control" name="old_password" placeholder="{% trans 'Старый пароль' %}" {% if not is_staff and not is_self %}disabled{% endif %}
                value="" type="password">
            </div>
            {% endif %}
            <div class="input-group mb-2">
              <div class="input-group-prepend" style="width: 30%"><span class="input-group-text w-100">{% trans 'Новый пароль' %}</span></div>
              <input class="form-control" name="new_password1" placeholder="{% trans 'Новый пароль' %}" {% if not is_staff and not is_self %}disabled{% endif %}
                value="" type="password">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend" style="width: 30%"><span class="input-group-text w-100">{% trans 'Подтверждение' %}</span></div>
              <input class="form-control" name="new_password2" placeholder="{% trans 'Подтверждение' %}" {% if not is_staff and not is_self %}disabled{% endif %}
                value="" type="password">
            </div>
          </div>
          <div class="modal-footer">
            <div class="btn-group">
              <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Отмена' %}</button>
              <button type="submit" class="btn btn-secondary" id="headerExit">{% trans 'Сохранить' %}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
  {% include "common/confirm_delete_modal.html" %}
{% endblock modals %}